@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
    /*background-color: #3494ee;*/
    margin: 5px;
    background-color: #eeeeee;
    color: #0D7993;
    font-family: 'Open Sans', sans-serif; font-weight: 300;
  }

h1 {
    font-size: 3em;
}

.syncopate {
    font-family: Syncopate !important;
}

.oxygen {
    font-family: Oxygen !important;
}

.yellow {
    color: #FFE100;
}

.blue {
    color: #2176FF;
}

.red {
    color: #FF0055;
}

div#upload-button
{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
}

div.pingbox
{
    background-color: #FFF;
    margin-bottom: 12px;
    border-bottom: 2px solid #DDD;
    padding: 20px;
}

div.score
{
    text-align: center;
    font-size: 60px;
}

div.score_sub
{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #AAA;
}
