<template name="fail">
    <center>
      <img src="/images/hack-the-hunt.png" width="150" height="150">
      <h1>
        Get Activated!
    </h1>
    <p>
        If you are seeing this message, that means that someone has yet to activate you. Please find someone who is already a part of Hack The Hunt to activate you!
    </p>
    <p>
        Just have someone take a picture of your ID and start playing!
    </p>
    <a href="/login">
        <button>
            Go Back
        </button>
    </a>
  </center>
</template>
