<template name="login">
    <div class="container">
        <div class="row">
          <center>    <img src="/images/hack-the-hunt.png" width="150" height="150">

              <h1>
                  <strong>Hack The Hunt</strong>
              </h1>
            <h4>
                Sign in with your Hack The North credentials!
            </h4> </center>

        </div>
      <div class="row">
            <div class="col-xs-8">
                <form class="form-group" id="login-form">
                    <div class="col-xs-12">
                        Email:
                    <input class="form-control" type="email" id="email" />
                    </div>
                    <div class="col-xs-12">
                        Password:
                        <input class="form-control" type="password" id="password" />
                    </div>
                    <div class="col-xs-12"><br></div>
                    <div class="col-xs-12">
                      <center>  <input class="btn btn-lg btn-success" type="submit" value="SUBMIT" id="login-button" /> </center> 

                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
