<template name="main">
    
    {{> nav}}
    <h1>
        
    </h1>
    
    <div id="upload-button">Scan QR Code</div>
    
    <form id="form" action="http://noteventure.com/qr.php" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="redirpath" value="http://www.hackthehunt.co/" />
        <input id="files" name="file" type="file" capture="camera" accept="image/*" style="visibility: hidden" />
    </form>
    
    <script type="text/javascript">
    
        $("#upload-button").click(function() {
            
            $("#files").click();

        });

        document.getElementById("files").addEventListener("change", function() {

            document.getElementById("form").submit();

        });
        
    </script>
    
</template>
