<template name="welcome">
<center>
<div class="container">
    <div class="row">
        <br>
        <h4>
            Welcome to...
        </h4>
        <img src="/images/hack-the-hunt.png" width="150" height="150">

        <h1>
            <strong>Hack The Hunt</strong>
        </h1>
        <h3>
            Waterloo's Greatest Social Engineering Game.
        </h3>
        <h4>
            The winner of this game gets $50, cash, from us!
        </h4>
        <h4>
            Now, make sure no one is watching.
        </h4>
        <br><br>
        <h4>
            No one is watching?
        </h4>
        <h4>
            Good.
        </h4>
        <h4>
            Now you can scroll down.
        </h4>

    </div>

    <div class="row">
        <br><br>
        <h4>
            You're on the...
        </h4>

        <h2 style="text-transform: uppercase;" class="{{team}}">
            {{team}} Team!
        </h2>

        <br><br><br>

        <h3>
            Here's how it works
        </h3>
        <ul class="list-group" style="color: #242424;">
            <li class="list-group-item">Scan a new user and you get <em>+50 PTS</em></li>
            <li class="list-group-item">Scan someone on your team and get <em>+25 PTS</em></li>
            <li class="list-group-item">Get someone on a different team to scan your tag and you <strong>TAKE</strong> <em>100 PTS</em> from them!</li>
        </ul>

        <a href="/">
            <button class="btn btn-lg btn-success">
                I'm Ready!
            </button>
        </a>
    </div>
</div>
</center>
</template>
