<template name="welcome">
<center>
<div class="page-height">
    <br>
    <h4>
        Welcome to...
    </h4>
    <h1>
        Hack The Hunt
    </h1>
    <h3>
        Waterloo's Greatest Social Engineering Game.
    </h3>
    <br>
    <br>
    <h4>
        Now, make sure no one is watching.
    </h4>
    <br><br>
    <h4>
        No one is watching?
    </h4>
    <h4>
        Good.
    </h4>
    <h4>
        Now you can scroll down.
    </h4>
</div>

<div class="page-height">
    <br><br>
    <h4>
        You're on the...
    </h4>
    <h2 style="text-transform: uppercase;">
        {{team}} Team!
    </h2>

    <br><br><br>
    
    <h3>
        Here's how it works
    </h3>
    <ul class="list-group">
        <li class="list-group-item">Scan a new user and you get +50 PTS</li>
        <li class="list-group-item">Scan someone on your team and get +25 PTS</li>
        <li class="list-group-item">Get someone on a different team to scan your tag and you TAKE 100 PTS from them!</li>
    </ul>
    
    <a href="/">
        <button class="btn btn-lg btn-success">
            Got It!
        </button>
    </a>
</div>
</center>
</template>