<template name="welcome">
    <h4>
        Welcome to
    </h4>
    <h1>
        Hack The Hunt
    </h1>
    <h3>
        Waterloo's Greatest Social Engineering Game.
    </h3>
    <p>
        Now, make sure no one is watching.
    </p>
    <p>
        No one is watching? Good. Now you can scroll down.
    </p>


    <h4>
        You're on the...
    </h4>
    <div>
        Blue Team!
    </div>
    
    <h3>
        Here's how it works
    </h3>
    <ul>
        <li>Scan a new user -> +100 PTS</li>
        <li>Scan someone on your team -> +25 PTS</li>
        <li>Get someone on a different team to scan your tag and you TAKE 100 PTS from them!</li>
    </ul>
    
    <a href="/">
        <button>
            Got It!
        </button>
    </a>
    <a href="/login">Temp go back to login</a>
</template>